<form>
  <textarea id="textArea" rows="4" cols="50" placeholder="Token" disabled></textarea>

  <select name="sellos" id="sellos" onchange="setSello(this.value)">
    <option value="visa">VISA</option>
    <option value="mastercard">MASTERCARD</option>
    <option value="oca">OCA</option>
    <option value="cde">CLUB DEL ESTE</option>
  </select>

  <input type="number" value="0" placeholder="Monto" onchange="setAmount(this.value)">
  <input type="number" value="1" placeholder="Cuotas" onchange="setCuotas(this.value)">
  <input type="text" value="UYU" placeholder="Moneda" onchange="setCurrency(this.value)">
  <input type="text" value="" placeholder="Nombre" onchange="setName(this.value)">
  <input type="text" value="" placeholder="Email" onchange="setMail(this.value)">

  <input type="submit" value="Procesar" />
</form>
<div id="iframePago" style="width: 400px; height: 680px"></div>
